* {
  border-color: #72898f !important;
}
a {
  color: #4695f7 !important;
}
a:visited {
  color: #af88eb !important;
}
body {
  background-color: #103c48 !important;
  color: #adbcbc !important;
}
html {
  background-color: #103c48 !important;
}
input,
textarea {
  background-color: #184956 !important;
  color: #adbcbc !important;
}
blockquote,
pre {
  background-color: #184956 !important;
  color: #adbcbc !important;
}
* {
  border-color: #72898f !important;
}
a {
  color: #4695f7 !important;
}
a:visited {
  color: #af88eb !important;
}
body {
  background-color: #103c48 !important;
  color: #adbcbc !important;
}
html {
  background-color: #103c48 !important;
}
input,
textarea {
  background-color: #184956 !important;
  color: #adbcbc !important;
}
blockquote,
pre {
  background-color: #184956 !important;
  color: #adbcbc !important;
}
